header, nav, main, footer {
  display: block;
}

* {
  box-sizing: border-box;
}

header {
  background-color: #dfdfdf;
  padding-top: 2px;
  padding-bottom: 2px;
}

body {
  background-color: #adadad;
  font-family: Verdana, Arial, sans-serif;
}

#wrapper {
  margin: auto;
  width: 85%;
  min-width: 960px;
  max-width: 1200px;
  background-color: #f3f3f3;
}

nav {
  font-weight: bold;
  text-align: left;
  letter-spacing: .2em;
  background-color: #dfdfdf;
}

nav a {
  text-decoration: none;
}

nav a:link {
  color: #24509c;
}

nav a:visited {
  color: #7f6aa1;
}

nav a:hover {
  color: #ffffff;
}

main {
  padding: 15px;
}

main ul {
  list-style-type: none;
}

main li {
  display: inline-block;
  width: 400px;
  margin: 10px;
}

#brandon-floatright {
  float: right;
  padding: 15px;
}

footer {
  font-size: 70%;
  text-align: center;
  padding: 15px;
}

a[href^="mailto:"] {
  font-family: sans-serif;
  color: #24509c;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}